.title {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  font-family: 'Trebuchet MS';
}

#root {
  margin-top: 50px;
  text-align: center;
  font-family: 'Raleway', serif;
}


textarea {
  width: 450px;
  box-sizing: border-box;
  border: 1px solid gray;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
  resize: none;

}
textarea:focus {
  border: 1.25px solid gray;
  box-shadow: 0px 0px 1px gray;
  outline: none;
}
textarea:disabled {
  background-color: white;
}
#inputCode {
  font-family: 'PT Mono', monospace;
}

#outputCode {
  text-align: left;
}

.copyright {
  font-family: 'Trebuchet MS';
  margin-top: 25px;
  text-align: center;
  font-size: 1.5em;
}
